.vehicle-icon img {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
}
.vehicle-icon {
    padding: 0px;
    margin: 0px;
}

button {
    padding: 0px;
    border-width: 0px;
    border-style: none;
}